<!DOCTYPE html>

<html>
<head>
    <title>直播|长沙学院运动会</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fonts/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style/main.css" />

    <style>
        .linkAdv a{
            width: 32.5%;
            margin: 0;
            border-radius: 0;
            color: #777;
            text-decoration: none;
        }
        .active{
            color: #2285DE;
        }
        .nav-bottom{
            border-top: 1px solid #eee;
            width: 100%;
            height: 50px;
            padding:15px 20px 15px 20px;
            background-color: #fff;
        }
        .nav-bottom a span{
            font-size: 16px;
        }
        .bg-eee{
            background-color:#eee;
        }
        .line{
            height: 20px;
            background-color:#eee;
        }
        .padding-15px{
            padding: 0 20px 20px 20px;
        }
    </style>
</head>
<body>
<section class="main">
    <div class="nav" style="height: 40px;line-height: 20px;margin-bottom: 0"> 长沙学院校运会</div>

    <div class="container" id="container" style="margin: 0;padding: 0">

        <div class="loading-warp">
            <div class="box">
                <div>
                    <img src="/static/res/loading.gif" />
                    <span class="text">下拉开始刷新</span>
                </div>
            </div>
        </div>
        <div style="margin-top: -1px" id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div style="height: 200px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url(/static/img/1.jpg)"></div>
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <div style="height: 200px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url(/static/img/2.jpg)"></div>
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <div style="height: 200px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url(/static/img/3.jpg)"></div>
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="fa fa-chevron-circle-left" style="margin-top: 90px"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="fa fa-chevron-circle-right" style="margin-top: 90px"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="line"></div>
        <div class="container bg-eee" style="">
            <div class="row">
                <div class="col-md-6 col-xs-6 padding-15px">
                    <div style="background-image: url(/static/img/1.jpg);height: 100px;background-position: center;background-size: cover">

                    </div>
                </div>
                <div class="col-md-6 col-xs-6 padding-15px">
                    <div style="background-image: url(/static/img/1.jpg);height: 100px;background-position: center;background-size: cover">

                    </div>
                </div>
                <div class="col-md-6 col-xs-6 padding-15px">
                    <div style="background-image: url(/static/img/1.jpg);height: 100px;background-position: center;background-size: cover">

                    </div>
                </div>
                <div class="col-md-6 col-xs-6 padding-15px">
                    <div style="background-image: url(/static/img/1.jpg);height: 100px;background-position: center;background-size: cover">

                    </div>
                </div>
            </div>
            <ul class="list">
                <li>颤抖吧，DOTA2西雅图TI5中国饱览2~5名</li>
                <li>Sumail，十六岁的天才撑起EG大旗</li>
                <li>国土无双，老将在凋零，但不是凋谢</li>
                <li>3:0，我上我也行，撸啊撸的梗何时消退</li>
                <li>未来属于谁！CTY，Sumei数据对比</li>
                <li>3:0，我上我也行，撸啊撸的梗何时消退</li>
            </ul>
        </div>

    </div>
    </div>

    <div class="linkAdv">
        <div class="nav-bottom">
            <a href="" style="color: #2285DE"><i class="fa fa-home"></i> <span>主页</span></a>
            <a href=""><i class="fa fa-bookmark"></i> <span>快讯</span></a>
            <a href=""><i class="fa fa-trophy"></i> <span>奖牌榜</span></a>
        </div>
    </div>
</section>

</body>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/script/lib/jquery-1.11.0.js"></script>
<script type="text/javascript" src="/static/script/lib/touche.js"></script>
<script type="text/javascript" src="/static/script/p-pull-refresh.js"></script>
<script type="text/javascript">

    var $statu = $('.loading-warp .text');

    var pullRefresh = $('.container').pPullRefresh({
        $el: $('.container'),
        $loadingEl: $('.loading-warp'),
        sendData: null,
        url: '#',
        autoHide: false,
        callbacks: {
            pullStart: function(){
                $statu.text('松开开始刷新');
            },
            start: function(){
                $statu.text('数据刷新中···');
            },
            success: function(response){
                $statu.text('数据刷新成功！');
            },
            end: function(){
                $statu.html('刷新成功,autoHide:false,手动执行reset初始设置');
            },
            error: function(){
                $statu.html('刷新失败,autoHide:false,手动执行reset初始设置');
            }
        }
    });

    // pullRefresh.setDestroy(true);

</script>
</html>
